<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/d2r">Decimal to Roman</a></li>
			<li><a href="/r2d">Roman to Decimal</a></li>
			<li><a href="/a2a">Any to any</a></li>
		</ul>

		<h1>{{title}}</h1>

		<div id="main">{{{body}}}</div>

		{{> _footer}}
	</body>
</html>